@model AbsenceManagementSystem.Model.DTOs.EmployeeLeaveRequestDto

@{
    ViewData["Title"] = "Add New Request";
}

<h4>Employee Leave Request</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @{
            var error = ViewBag.Error;

            if (error != null)
            {
                <p style="color:maroon;">@error</p>
            }
        }
        <form asp-action="AddNewLeaveRequest">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* <div class="form-group">
                <label asp-for="EmployeeId" class="control-label"></label>
                <input asp-for="EmployeeId" class="form-control" />
                <span asp-validation-for="EmployeeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeName" class="control-label"></label>
                <input asp-for="EmployeeName" class="form-control" />
                <span asp-validation-for="EmployeeName" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="NumberOfDaysOff" class="control-label"></label>
                <input asp-for="NumberOfDaysOff" class="form-control" />
                <span asp-validation-for="NumberOfDaysOff" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="LeaveType" class="control-label"></label>
                @* <select asp-for="LeaveType" class="form-control" /> *@
                <select asp-for="LeaveType" class="form-control">@*  style="width:100%; float:none;" class="form-control wide">*@
                    <option selected value="1">Casual</option>
                    <option value="2">Sick Leave</option>
                    <option value="3">Vacation</option>
                    <option value="4">Maternity</option>
                    <option value="5">Paternity</option>
                </select>
                <span asp-validation-for="LeaveType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit Request" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
